<!DOCTYPE html>

<html lang="en-US">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <title>Password Manager</title>

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
        <link rel="stylesheet" href="../css/index.css" />
    </head>

    <body>
        <header class="h-12 w-full flex items-center justify-between border-b border-b-[#90909030] bg-[#141414] draggable">
            <div class="p-3 bg-transparent">
                <a href="./index.html" class="bg-transparent">
                    <img src="../assets/imgs/logo.ico" alt="logo" width="40" height="40" class="bg-transparent select-none" />
                </a>
            </div>

            <div class="flex items-center justify-center gap-x-2 p-6 bg-transparent">
                <button id="minimizeWindow" class="p-[2px] rounded-sm cursor-pointer select-none bg-transparent">
                    <i class="fa-solid fa-minus bg-transparent" style="color: #878787;"></i>
                </button>

                <button id="maximizeWindow" class="p-[2px] rounded-sm cursor-pointer select-none bg-transparent">
                    <i class="fa-solid fa-maximize text-xs bg-transparent" style="color: #878787;"></i>
                </button>

                <button id="closeWindow" class="p-[2px] rounded-sm cursor-pointer select-none bg-transparent">
                    <i class="fa-solid fa-xmark bg-transparent" style="color: #878787;"></i>
                </button>
            </div>
        </header>

        <main class="w-full h-full bg-transparent flex">
            <aside class="bg-[#141414] min-w-16 w-16 h-full flex flex-col items-center justify-between gap-y-2 p-4 border-r border-[#90909030]">
                <div class="flex flex-col bg-transparent gap-y-2">
                    <a href="./list.html" class="sidebar-btn bg-transparent">
                        <i class="fas fa-vault bg-transparent"></i>
                    </a>

                    <a href="./generate.html" class="sidebar-btn bg-transparent">
                        <i class="fas fa-key bg-transparent"></i>
                    </a>
                </div>

                <a href="./settings.html" class="sidebar-btn bg-transparent">
                    <i class="fas fa-cog bg-transparent"></i>
                </a>
            </aside>

            <section class="bg-transparent w-full h-full p-6 overflow-x-hidden overflow-y-auto">
                <h1 class="bg-transparent uppercase select-none">
                    GENERATED PASSWORD OPTIONS
                </h1>

                <p class="bg-transparent font-medium text-[#909090] text-md select-none">
                    Select the option below to edit the password generation process
                </p>

                <div class="bg-transparent grid max-lg:grid-cols-2 place-items-start py-2">
                    <div class="bg-transparent flex flex-row-reverse justify-start gap-y-1 gap-x-2 items-center">
                        <label for="lowercaseLettersOption" class="bg-transparent text-[#909090] font-medium select-none">Allow lowercase letters in a password.</label>
                        <input checked type="checkbox" name="lowercase-letters" id="lowercaseLettersOption" class="cursor-pointer appearance-none border-2 border-[#909090] rounded-sm bg-[#101010] w-4 h-4 checked:bg-[#2A5991] checked:border-[#2A5991] duration-150" />
                    </div>

                    <div class="bg-transparent flex flex-row-reverse justify-start gap-x-2 items-center">
                        <label for="uppercaseLettersOption" class="bg-transparent text-[#909090] font-medium select-none">Allow uppercase letters in a password.</label>
                        <input checked type="checkbox" name="uppercase-letters" id="uppercaseLettersOption" class="cursor-pointer appearance-none border-2 border-[#909090] rounded-sm bg-[#101010] w-4 h-4 checked:bg-[#2A5991] checked:border-[#2A5991] duration-150" />
                    </div>

                    <div class="bg-transparent flex flex-row-reverse justify-start gap-x-2 items-center">
                        <label for="numbersOption" class="bg-transparent text-[#909090] font-medium select-none">Allow numbers in a password.</label>
                        <input checked type="checkbox" name="numbers" id="numbersOption" class="cursor-pointer appearance-none border-2 border-[#909090] rounded-sm bg-[#101010] w-4 h-4 checked:bg-[#2A5991] checked:border-[#2A5991] duration-150" />
                    </div>

                    <div class="bg-transparent flex flex-row-reverse justify-start gap-x-2 items-center">
                        <label for="specialCharactersOption" class="bg-transparent text-[#909090] font-medium select-none">Allow special characters in a password.</label>
                        <input type="checkbox" name="special-characters" id="specialCharactersOption" class="cursor-pointer appearance-none border-2 border-[#909090] rounded-sm bg-[#101010] w-4 h-4 checked:bg-[#2A5991] checked:border-[#2A5991] duration-150" />
                    </div>
                </div>

                <h1 class="bg-transparent uppercase pt-4 select-none">
                    Password length
                </h1>

                <p class="bg-transparent font-medium text-[#909090] select-none">
                    Choose what length of password you want.
                </p>

                <div class="bg-transparent flex items-center justify-start gap-x-1 min-w-36 pt-2">
                    <button id="decrementLengthButton" class="py-1 px-3 text-center bg-[#702121] duration-150 hover:bg-[#993030] rounded-md cursor-pointer font-medium select-none font-mono">
                        -
                    </button>

                    <label for="passwordsLengthInput"></label>
                    <input type="number" id="passwordsLengthInput" class="text-center rounded-md p-1 border border-[#90909030] duration-150 focus:border-[#90909050] outline-none bg-[#141414] [appearance:textfield] [&::-webkit-outer-spin-button]:appearance-none [&::-webkit-inner-spin-button]:appearance-none" value="12" min="8" max="64" maxlength="2" />

                    <button id="incrementLengthButton" class="py-1 px-3 text-center bg-[#407521] duration-150 hover:bg-[#54992C] rounded-md cursor-pointer font-medium select-none font-mono">
                        +
                    </button>
                </div>

                <h1 class="bg-transparent uppercase pt-4 select-none">
                    Password generation
                </h1>

                <p class="bg-transparent font-medium text-[#909090] select-none">
                    Select below how many passwords you want to generate and press “Generate Password”.
                </p>

                <div class="bg-transparent flex items-center gap-x-1 pt-2">
                    <div class="bg-transparent flex items-center justify-start gap-x-1 min-w-36">
                        <button id="decrementButton" class="py-1 px-3 text-center bg-[#702121] duration-150 hover:bg-[#993030] rounded-md cursor-pointer font-medium select-none font-mono">
                            -
                        </button>

                        <label for="passwordsAmount"></label>
                        <input type="number" id="passwordsAmount" class="text-center rounded-md p-1 border border-[#90909030] duration-150 focus:border-[#90909050] outline-none bg-[#141414] [appearance:textfield] [&::-webkit-outer-spin-button]:appearance-none [&::-webkit-inner-spin-button]:appearance-none" value="1" min="1" max="20" maxlength="2" />

                        <button id="incrementButton" class="py-1 px-3 text-center bg-[#407521] duration-150 hover:bg-[#54992C] rounded-md cursor-pointer font-medium select-none font-mono">
                            +
                        </button>
                    </div>

                    <button id="generatePasswords" class="bg-[#2A5991] duration-150 hover:bg-[#326AAD] rounded-md cursor-pointer text-center py-1 px-8 font-medium select-none">
                        Generate Passwords
                    </button>
                </div>

                <br>

                <h1 class="bg-transparent uppercase pt-4 text-lg select-none">
                    Result
                </h1>

                <ul class="w-full flex flex-col gap-y-1 list-disc pb-8 marker:text-[#909090]" id="generatedPasswords">
                    <p class="bg-transparent font-medium text-[#909090] select-none">Generated passwords will be displayed here once generated.</p>
                </ul>
            </section>
        </main>

        <script src="../js/window/buttons.js" type="module"></script>
        <script src="../js/pages/generate.js"></script>
    </body>
</html>