<!DOCTYPE html>

<html lang="en-US">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <title>Password Manager</title>

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
        <link rel="stylesheet" href="../css/index.css" />
    </head>

    <body>
        <header class="h-12 w-full flex items-center justify-between border-b border-b-[#90909030] bg-[#141414] draggable">
            <div class="p-3 bg-transparent">
                <a href="./index.html" class="bg-transparent">
                    <img src="../assets/imgs/logo.ico" alt="logo" width="40" height="40" class="bg-transparent select-none" />
                </a>
            </div>

            <div class="flex items-center justify-center gap-x-2 p-6 bg-transparent">
                <button id="minimizeWindow" class="p-[2px] rounded-sm cursor-pointer select-none bg-transparent">
                    <i class="fa-solid fa-minus bg-transparent" style="color: #878787;"></i>
                </button>

                <button id="maximizeWindow" class="p-[2px] rounded-sm cursor-pointer select-none bg-transparent">
                    <i class="fa-solid fa-maximize text-xs bg-transparent" style="color: #878787;"></i>
                </button>

                <button id="closeWindow" class="p-[2px] rounded-sm cursor-pointer select-none bg-transparent">
                    <i class="fa-solid fa-xmark bg-transparent" style="color: #878787;"></i>
                </button>
            </div>
        </header>

        <main class="w-full h-full bg-transparent flex">
            <aside class="bg-[#141414] min-w-16 w-16 h-full flex flex-col items-center justify-between gap-y-2 p-4 border-r border-[#90909030]">
                <div class="flex flex-col bg-transparent gap-y-2">
                    <a href="./list.html" class="sidebar-btn bg-transparent">
                        <i class="fas fa-vault bg-transparent"></i>
                    </a>

                    <a href="./generate.html" class="sidebar-btn bg-transparent">
                        <i class="fas fa-key bg-transparent"></i>
                    </a>
                </div>

                <a href="./settings.html" class="sidebar-btn bg-transparent">
                    <i class="fas fa-cog bg-transparent"></i>
                </a>
            </aside>

            <section class="bg-transparent w-full h-full p-6 select-none">
                <h1 class="bg-transparent uppercase text-lg select-none">Passwords</h1>
                <p class="bg-transparent font-medium text-[#909090] text-md select-none">Your passwords are listed below here.</p>

                <div class="bg-transparent grid gap-2 place-items-start w-full py-2 overflow-x-hidden mt-2" id="passwords">
                </div>
            </section>
        </main>

        <script src="../js/window/buttons.js" type="module"></script>
        <script src="../js/pages/list.js" type="module"></script>
    </body>
</html>